/**
*  Global Style Css
 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    margin: 60px auto;
}
