/* Colors */
$white: #fff;
$black: #000;
$gray: #6a6a6a;
$grayLight: #afafaf;
$grayBorder: #f1f1f1;

/* Transitions */
$transition450: 0.45s;

/* Media Queries */
$desktopLg: " (min-width: 1200px)";
$desktop: " (max-width: 1199px)";
$medium: " (max-width: 991px)";
$tablet: " (max-width: 767px)";
$tel: " (max-width: 575px)";
$smallTel: " (max-width: 340px)";
