{% extends 'base.html.twig' %}

{% block title %}Add An Ad - dodaj swoje ogłoszenie nieruchomości, działki, samochodu lub inne jakie chcesz sprzedać lub wynająć. {% endblock %}

{% block body %}
    {% include 'header.main.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/addanad/src/Controller/MainController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/addanad/templates/main/index.html.twig</code></li>
    </ul>
</div>

    {% include 'footer.main.html.twig' %}
{% endblock %}
