{% extends 'base.html.twig' %}

{% block title %}Add An Ad - dodaj swoje ogłoszenie nieruchomości, działki, samochodu lub inne jakie chcesz sprzedać lub wynająć. {% endblock %}

{% block body %}
    {% include 'header.main.html.twig' %}

    <section class="add-main-page-categories">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-sm-md-6">
                        <ul class="add-cat-mp-menu">

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/flats.jpg') }}" alt="Kategoria Mieszkania">
                                    <span class="cat-name">Mieszkania</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/house1.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Domy</span>
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/room3.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Pokoje</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="" alt="">
                                    Działki
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="" alt="">
                                    Motoryzacja
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="" alt="">
                                    Elektronika
                                </a>
                            </li>

                            <li class="add-cat-item-mp">
                                <a href="#">
                                    <img class="img-fluid" src="{{ asset('img/moda01.jpg') }}" alt="Kategoria Domy">
                                    <span class="cat-name">Moda</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="" alt="">
                                    Praca
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'footer.main.html.twig' %}
{% endblock %}
