/* Owl Carousel promoted */
.box-card {
    .owl-stage-outer {
        .owl-stage {
            display: flex;
            .owl-item {
                display: flex;
                justify-content: stretch;
                align-content: stretch;
            }
        }
    }
}


/* Latest Card Style */
.box-card {
    display: flex;
    align-items: stretch;

    .card {
        width: 100%;
    }
}

