/* Style Navigation */
.add-nav-left {
    li {
        a {
            color: gray;
            margin: 0 10px;
            &.add-btn-nav-left {
                background-color: $gray;
                color: $white;
                border-radius: 10px;
                font-size: 15px;
                font-weight: bold;
                transition: $transition450;
                &:hover,
                &:active,
                &:focus, {
                    background-color: $grayLight;
                    transition: $transition450;
                }
            }
        }
    }
}

