{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid bg-body-tertiary">
        <footer id="footer" class="footer">

            {# Footer #}
            <div id="footer-main" class="container footer-main">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                    <div class="col mb-3">
                        <a href="#" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none" aria-label="Bootstrap">
                        </a>
                        <p class="text-body-secondary">© 2025</p>
                    </div>
                    <div class="col mb-3"></div>
                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
                            </li> <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li> <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
                            </li> <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            {# Copyright #}
            <div id="copyright-main" class="container copyright-main">
                <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

                    <div class="col-md-4 d-flex align-items-center">
                        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"></a>
                        <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span>
                    </div>
                    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="text-body-secondary" href="#" aria-label="Instagram">
                                Instagram Icon
                            </a>
                        </li> <li class="ms-3">
                            <a class="text-body-secondary" href="#" aria-label="Facebook">
                                Facebook Icon
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </footer>
    </div>

{% endblock %}
