


    {# Header Main #}
    <header id="header-main" class="header-main sticky-top">

        {# Navigation #}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">Add An Ad</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end add-nav-left">

                        <li class="nav-item">
                            <a  class="nav-link add-btn-nav-left" href="">
                                <i class="fa-solid fa-plus"></i>
                                Dodaj ogłoszenie
                            </a>
                        </li>

                        <li class="nav-item">
                            <a  class="nav-link icon-link-nav" href="">
                                <i class="fa-solid fa-user"></i>
                            </a>
                        </li>

                    </ul>

                </div>

            </div>{# end div.container-fluid #}
        </nav>{# end div.navbar.navbar-expand-lg.bg-body-tertiary.sticky-top #}
        {# end Navigation #}

    </header>
    {# end Header Main #}

    {# Header content #}
    <section id="header-content" class="header-content">
        <div class="img-bg-header">
            <img src="{{ asset('img/img_main_header.jpg') }}" alt="Header Image" class="img-fluid mb-4">
        </div>
        <div class="container">
            <div class="header-content-text">
                <h1 class="mb-0">Welcome to Add An Ad</h1>
                <p class="pt-0 pb-5">Your one-stop solution for posting and finding ads.</p>
                <form class="d-flex" role="search">


                    <div class="input-group">

                        <input class="form-control form-control-lg w-50" type="search" placeholder="Search" aria-label="Search"/>

                        <select class="form-select w-25 form-control-lg">
                            <option selected>Wybierz kategorię</option>
                            <option value="1">Mieszkania</option>
                            <option value="2">Działki</option>
                            <option value="3">Domy</option>
                            <option value="4">Pokoje</option>
                            <option value="5">Motoryzacja</option>
                            <option value="6">Elektronika</option>
                            <option value="7">Moda</option>
                            <option value="8">Praca</option>
                        </select>
                        <label class="input-group-text form-control-lg rounded-0">Wybierz Kategorię</label>
                    </div>

                    <button id="add-main-page-search-button" class="btn-light border-1 rounded-end pe-4 ps-4 text-black-50" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </section>



